body{
    background-color:#ff8787;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
    background-color: #e9ff59;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

img{
    width: 150px;
}
.content{
    text-align: center;
    align-items: center;
}


.box{
    border: #090909 3px solid;
    padding: 3px;
    height: 100px;
    width: 400px;
    margin-left: 530px;
}
.repo{
    border: #0e0e0e 3px solid;
    margin: 3px;
}